body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #AFD3E2;
    margin: 0;
    padding: 0;
}

/* Nav Bar */
#home {
    background-color: #19A7CE;
    height: 5px;
    padding-top: 1cm;
    font-size: 20px;
    color: #146C94;
}

.topmenu {
    color: #146C94;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}

.topmenu:hover {
    color: #F6F1F1;
    font-weight: bolder;
    text-decoration: underline;
}

.topdiv {
    float: right;
    padding-right: 3cm;
    position: relative;
    bottom: 35px;
}

.profile_name {
    float: left;
    padding-left: 1cm;
    position: relative;
    bottom: 30px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#about_me {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 350px;
}

#about_me img {
    width: 250px;
    border-radius: 20%;
}

#about_me h1 {
    color: #146C94;
}

.Summary {
    position: relative;
    bottom: 275px;
    left: 280px;
    font-size: 22px;
}

.all_skills {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-left: 25px;
    gap: 1cm;
    margin-left: 65px;
}

.skill {
    border: 1px solid gray;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
    box-shadow: 0 3px 10px gray;
    background-color: white;
}

.skill img {
    height: 45px;
    align-items: center;
}

h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #146C94;
  margin: 30px;
  margin-left: 135px;
  margin-top: 40px;
  margin-bottom: 0px;
}